---
import ProjectsHeader from '../components/ProjectsHeader.astro';
import ProjectsFilter from '../components/ProjectsFilter.astro';
import ProjectsContainer from '../components/ProjectsContainer.astro';
import Theme from '../components/Theme.astro';
import Language from '../components/Language.astro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="One Screen Portfolio" />
    <title>Alba Segura | Junior Developer</title>
    <link rel="stylesheet" href="/css/projects.css" />
    <link rel="icon" type="image/png" href="/img/logo.svg" />
  </head>
  <body>
    <ProjectsHeader />
    <ProjectsFilter />
    <ProjectsContainer />
    <Theme />
	<Language />
  </body>
</html>
