---
---
<section class="section hero">
  <div class="hero-content">
    <h1 id="Name"></h1>
    <p id="Subtitle"></p>
    <div class="contact-info">
      <a href="https://github.com/Snr1s3" class="social-link">
        <img src={`${Astro.base || ''}/img/icons/github.svg`} alt="github" style="height: 20px; width: 20px;" />
        GitHub
      </a>
      <a href="https://www.linkedin.com/in/alba-segura-llamas-b91491299/" class="social-link">
        <img src={`${Astro.base || ''}/img/icons/linkedin.svg`} alt="linkedin" style="height: 20px; width: 20px;" />
        LinkedIn
      </a>
      <a href="mailto:alba.segura.llamas@gmail.com" class="social-link">
        <img src={`${Astro.base || ''}/img/icons/gmail.svg`} alt="gmail" style="height: 20px; width: 20px;" />
        Mail
      </a>
      <a href="/files/CV_SeguraLlamasAlba.pdf" class="social-link" download="CV_SeguraLlamasAlba.pdf">
        <img src={`${Astro.base || ''}/img/icons/cv.png`} alt="cv" style="height: 20px; width: 20px;" />
        CV
      </a>
    </div>
    <div class="button-row">
      <button type="button" id="Project" class="projects-button" onclick="window.location.href='/projects-list'">Projects</button>
    </div>
  </div>
</section>
