---
import Theme from '../components/Theme.astro';

---
<div class="header">
  <button onclick="window.location.href='/'" class="projects-button">
    <img src="/img/icons/home.svg" alt="Home" style="height: 25px; width: 25px;" />
  </button>
  <h1 id="Tittle"></h1>
  <div class="settings-controls">
    <button id="theme-toggle">
      <img id="bIcon" src="/img/icons/moon.svg" alt="Toggle Dark Mode" style="height: 25px; width: 25px;" class="iconMenu icon hover-scale" />
    </button>
    <select id="language-select" class="iconMenu glassmorphism neon-border">
      <option value="en">English</option>
      <option value="cat">Català</option>
      <option value="es">Castellano</option>
    </select>
    <Theme />
  </div>
</div>
