---
---
<div class="filter-section">
  <div class="filter-group">
    <label for="filter-type" id="Filter"></label>
    <select id="filter-type" class="filter-select">
      <option value="all" id="All">All Projects</option>
      <option value="language" id="Prog">Programming Language</option>
      <option value="topic" id="Topic">Topic</option>
    </select>
  </div>
  <div class="filter-group" id="filter-options-container" style="display: none;">
    <select id="filter-options" class="filter-select">
      <option value="">Select...</option>
    </select>
  </div>
  <button id="clear-filter" class="clear-filter-btn" style="display: none;">Clear Filter</button>
</div>
