<section class="section settings">
  <h2 id="Settings"></h2>
  <div class="settings-controls">
    <button id="theme-toggle" class="no-border neon-hover neon-glow">
      <img id="bIcon" src={`${Astro.base || 'public'}/img/icons/moon.svg`} alt="Toggle Dark Mode" style="height: 25px; width: 25px;" class="iconMenu icon hover-scale" />
    </button>
    <select id="language-select" class="iconMenu glassmorphism neon-border">
      <option value="en">English</option>
      <option value="cat">Català</option>
      <option value="es">Castellano</option>
    </select>
  </div>
</section>