---
const { title = "Alba Segura | Junior Developer" } = Astro.props;

import Theme from '../components/Theme.astro';
import Language from '../components/Language.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="One Screen Portfolio" />
    <title>{title}</title>
    <link rel="stylesheet" href={`${Astro.base || '/public'}/css/style.css`} />
    <link rel="icon" type="image/png" href={`${Astro.base || '/public'}/img/logo.svg`} />
  </head>
  <body>
    <div class="container">
      <slot /> <!-- This is where page content will go -->
    </div>
	<Theme />
	<Language />
  </body>
</html>