name: Pull to mongo

on:
  push:
    branches: ["main"]
  
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: "mongo"
  cancel-in-progress: true

jobs:
  get-projects:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python (with pip cache)
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: requirements.txt

      - name: Install dependencies
        run: python -m pip install -r requirements.txt

      - name: Run push-to-mongo.py
        run: python portfolio/pull-to-mongo.py
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}